.card-wrapper {
    height:60%;
    width: 86%;
    border-radius: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    position: relative;

    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -50px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pic-front {
    height: 84%;
    align-self: center;
}